@import "partials/_setup.scss";
@import "partials/_utils.scss";
@import "partials/_header.scss";
@import "partials/_main.scss";
@import "partials/_footer.scss";

* {
  /*   margin: 0;
    padding: 0; */
    border:1px solid green;
}

img{
    max-width: 100%;
}

html{
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif; 
}

body{
    font-size: 1.6rem;
    min-height: 100vh;  
}

.wrapper{
    max-width: 1080px;
    width: 95%;
    margin: 0 auto;
}

.hide{
    display: none;
}