@import "partials/_setup.scss";
@import "partials/_utils.scss";
@import "partials/_header.scss";
@import "partials/_nav.scss";
@import "partials/_main.scss";

* {
  /*   margin: 0;
    padding: 0; */
}

img{
    max-width: 100%;
}

html{
    font-size: 62.5%;
    font-family: 'Karla', sans-serif; 
}

body{
    font-size: 1.6rem;
    min-height: 100vh;  
}

.wrapper{
    max-width: 1080px;
    width: 95%;
    margin: 0 auto;
}


a {
    text-decoration: none;
    color:black;
}

ul {
	list-style-type: none;
	display: inline-block;	
	padding: 0px;
	margin: 0px;
}

p {
	line-height: 28px;
}


.hide{
    display: none;
}

/* MAIN LAYOUT FLEX */

.flexContainer {
    display: flex;
}

.flexItem {
    flex-direction: row;
    height: 100vh;   
}

.flexItemFixed {
    width:15%;
    position: relative;
    transition:all ease-in 0.3s;
}

.flexItemContent {
    padding: 20px;
    width: 85%;
    transition:all ease-in 0.3s;
}

.button {
    margin-top: 20px;
}



@media (max-width:1180px){
    .navBar {
        display: none;
        overflow-x:hidden;
        left:-999%;
        transition:margin-left 0.5s;
    }

    .flexItemFixed {
        width:0%;
    }

    .flexItemContent {
        padding:13px;
        width: 100%;
        margin: 0 auto;
    }
    .openSlide {
        display: block;
    }
}