@import "partials/_setup.scss";
@import "partials/_utils.scss";
@import "partials/_header.scss";
@import "partials/_nav.scss";
@import "partials/_main.scss";

* {
  /*   margin: 0;
    padding: 0; */
}

img{
    max-width: 100%;
}

html{
    font-size: 62.5%;
    font-family: 'Karla', sans-serif; 
}

body{
    font-size: 1.6rem;
    min-height: 100vh;  
}

.wrapper{
    max-width: 1080px;
    width: 95%;
    margin: 0 auto;
}


a {
    text-decoration: none;
    color:black;
}

ul {
	list-style-type: none;
	display: inline-block;	
	padding: 0px;
	margin: 0px;
}

p {
	line-height: 28px;
}


.hide{
    display: none;
}

/* MAIN LAYOUT FLEX */

.flexContainer {
    display: flex;
}

.flexItem {
    flex-direction: row;
    height: 100vh;   
}

.flexItemFixed {
    width:15%;
    position: relative;
    transition:all ease-in 0.3s;
}

.flexItemContent {
    padding: 20px;
    width: 85%;
    transition:all ease-in 0.3s;
}

.button {
    margin-top: 20px;
}

#main.mainSlideOpen {
    margin-left: 24%;
}


@media (max-width:1280px){
    #main.marginSlideOpen {
        margin-left:0%;
    }
}


@media (max-width:1180px){
    .navBar {
        display: none;
        overflow-x:hidden;
        left:-999%;
        transition:margin-left 0.5s;
    }

    .navBarOpen {
        display: block;
        left:0%;
        transition:margin-left 0.5s;
    }  

    .flexItemFixed {
        width:0%;
    }

    .flexItemContent {
        padding:13px;
        width: 100%;
        margin: 0 auto;
    }
    .openSlide {
        display: block;
        @include respond-to("small") {
            margin:12px;
        }
    }
}



@media (max-width:480px) {
    .particleWrapper {
        background-size: 74%;
        background-position: -30% -6%;
    }

    ul.navList {
        text-align: center;
        margin-left: 0;
    }

    .about__me {
        width:95%;
    }

    .about__me h3 {
        font-size: 1.3rem;
        line-height: 1.6;
    }

    .about__contents {
        position: absolute;
        display: block;
    }

    .about__imgContainer {
        position: relative;
        margin:0 auto;
        width: 250px;
        margin-right:20%;
    }

    h1 {
        font-size: 2.2rem;
        margin-left:2%;
    }

    h4 {
        font-size: 2.0rem;
    }

    .carousel-cell svg {
        width: 100px;
        margin:55px 45px;
    }

    h1.skillsHeading {
        padding-top:12%;
    }

    .sectiontitle__container--work {
        padding-top:45px;
    }

    .blog__heading {
        padding-top:50px;
        left:20px;
        &::before {
            bottom:25px;
        }
    }

    .contact__content {
        padding-top:12%;
    }
}


@media (max-width:380px) {
    h1.skillsHeading {
        padding-top:40px;
        margin-left:20px;
    }

    .blog__heading {
        padding-top:50px;
        margin-left:15px;
    }

    h1.skillsHeading::before {
        left:-7%;
        bottom:11px;
    }

    h1.blog__heading::before {
        bottom:25px;
        left:-7%;
    }

    .contact__content {
        padding-top:12%;
    }

    .contact__content h1::before {
        top: 12px;
    }

    .sectiontitle__container--work {
        padding-top:60px;
    }

    .carousel {
        margin:0;
    }

    ul.navList {
        text-align: left;
        margin-left: 0;
    }

}