
#particles-js {
    height:95vh;
    // position: relative;
    // background: 
    //     /* url(../../../assets/me1.jpeg) no-repeat,  */
    //     url(../../../assets/brushStroke.png) no-repeat,
    //     url(../../../assets/brushStroke2.png) no-repeat, #E6F7EC;
    //     background-size: 600px;
}

.particleWrapper {
    height: 95vh;
    position: relative;
    background: 
        /* url(../../../assets/me1.jpeg) no-repeat,  */
        url(../../../assets/brushStroke.png) no-repeat,
        url(../../../assets/brushStroke2.png) no-repeat, #E6F7EC;
        background-size: 600px;
}



.headerContent {
    position: absolute;
    text-transform: uppercase;
    margin-left: 700px;
    margin-top: 300px;

    &__hello {
        font-size: 1.3rem;
        color: #898f98;
        margin-bottom:10px;
        font-weight: 400;
    }
    &__leadLine {
        height: 2px;
        width: 30px;
        content: "";
        position: absolute;
        background-color:  #898f98;
        margin-top:21px;
    }
    &__title {
        margin:2px 0;
        letter-spacing: 6px;
        font-family: 'Muli', Helvetica, sans-serif, sans-serif;
        text-transform: uppercase;
    }
    &__subHeading {
        margin-left: 35px;
        font-size: 1.7rem;
        font-weight: 500;
        color:#898f98;
    }
    &__socialIcons ul {
        display: flex;
        padding:0;
    }
    &__socialIcon {
        color:#898f98; 
        display: flex;
        flex-direction: row;
    }
    
}

