
#particles-js {
    height:95vh;
    display: flex;
    flex-direction: row-reverse;
    // position: relative;
    // background: 
    //     /* url(../../../assets/me1.jpeg) no-repeat,  */
    //     url(../../../assets/brushStroke.png) no-repeat,
    //     url(../../../assets/brushStroke2.png) no-repeat, #E6F7EC;
    //     background-size: 600px;
}

.particleWrapper {
    height: 95vh;
    position: relative;
    background: 
        /* url(../../../assets/me1.jpeg) no-repeat,  */
        url(../../../assets/brushStroke.png) no-repeat,
        url(../../../assets/brushStroke2.png) no-repeat, #E6F7EC;
    background-size: 60%;
}



.headerContent {
    position: absolute;
    text-transform: uppercase;
    right:100px;
    top: 300px;
    align-self: center;

    &__hello {
        font-size: 1.3rem;
        color: #898f98;
        margin-bottom:10px;
        font-weight: 400;
    }
    &__leadLine {
        height: 2px;
        width: 30px;
        content: "";
        position: absolute;
        background-color:  #898f98;
        margin-top:21px;
    }
    &__title {
        margin:2px 0;
        letter-spacing: 6px;
        font-family: 'Muli', Helvetica, sans-serif, sans-serif;
        text-transform: uppercase;
    }
    &__subHeading {
        margin-left: 35px;
        font-size: 1.7rem;
        font-weight: 500;
        color:#898f98;
    }
    &__socialIcons ul {
        display: flex;
        padding:0;
    }
    &__socialIcon {
        color:#898f98; 
        display: flex;
        flex-direction: row;
    }
}
/* 

@media (max-width:1040px) {
    .headerContent {
        left:-25%;
    }
}

@media (max-width:860px){
    .headerContent {
        left:-50%;
        font-size:1.2rem;
    }
}

@media (max-width:700px) {
    .headerContent {
        left:-60%;
        top:15%;
    }
    .particleWrapper {
        background-size:80%;
        top:5%;
    }
} */
