/* section {
    border:1px blue solid;
} */



// ABOUT SECTION START
.about__section {
    margin-top:2%;
    height: 95vh;
	background: linear-gradient(360deg, rgba(225,255,255, 0.3), rgba(255,255,255,1)), url(/assets/tobg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	background-position: left 122px bottom 0px;
	background-attachment: fixed;
	padding-bottom: 160px;
	position: relative;
	@include respond-to("medium-large") {
		background-attachment: scroll;
	}
}

.about__title {
    padding-top: 5%;
    padding-left:5%;
    &__heading {
        color:#000; /* #898f98; */
        position: relative;
        &::before {
            height: 3px;
            width: 35px;
            content: "";
            position: absolute;
            background-color:  #898f98;
            bottom: 40%;
            left: -5%;
        }
    }
}


.about__contents {
    display: flex;
    flex-direction: row;
}

.about__imgContainer{
    width:50%;
}

.about__me {
    width:54%;
    h3 {
        font-weight: 400;
    }
}

// ABOUT SECTION END

@media (max-width: 1180px) {
    .about__section {
        background-position: left;
    }
}



// PORTFOLIO SECTION START

.portfolio__section {
    margin-top:2%;
    background: #E2F9EC;
    padding-bottom:5%;
}

.portfolio__title {
    margin-left: 5%;
    position: relative;
    &__sub {
        margin-top:0px;
    }
}

.portfolio__contentContainer h6 {
    font-size: 1.4rem;
    color: #898f98;
}


.portfolio__title h1 {
    &::before {
        height: 3px;
        width: 35px;
        content: "";
        position: absolute;
        background-color:  #898f98;
        bottom: 20%;
        left: -5%;
    }
}

h4.portfolio__title {
    margin-left:0;
    font-size: 1.8rem;
}

.portfolio__container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include respond-to("medium-large") {
		flex-direction: column;
		padding: 30px 0px;
	}
}

.portfolio__imgContainer {
	max-width: 50%;
	@include respond-to("medium-large") {
		max-width: 90%;
	}
}
.portfolio__img {
	width: 100%;
	animation-delay: 0.2s;
}

.portfolio__container:nth-child(even) {
	flex-direction: row-reverse;
	@include respond-to("medium-large") {
		flex-direction: column;
	}
}

.portfolio__contentContainer {
	padding: 80px 45px	;
	@include respond-to("medium-large") {
		padding: 0px 15px;
		width: 90%;
	}
}

.portfolio__buttonContainer {
	display: flex;
	justify-content: flex-start;
    align-items: center;
    
	& > *{
		margin: 0px 30px 0px 0px;
    }
    a{
        border-bottom: 3px solid black;
    }
    a:hover {
        transition: ease-in-out all 0.2s;
        border-bottom: 2px solid #898f98;
    }
	@include respond-to("small") {
		flex-direction: column;
		align-items: flex-start;
	}
}

.portfolio__copy {
	padding: 0px 0px 30px 0px;
    margin: 0px;
    
}




.sectiontitle__container {
	padding-top: 140px;
}

.sectiontitle__container--work {
	padding-top: 80px;
}
// PORTFOLIO END


//SKILLS SECTION START
.skills__section {
    background: #E2F9EC;
    padding-bottom:1%;
}

.skillsParent {
    position: relative;
    margin-top:2%;
}

.skillsHeading {
    padding-top:5%;
    padding-left:8.5%;
}

h1.skillsHeading {
    &::before {
        height: 3px;
        width: 35px;
        content: "";
        position: absolute;
        background-color:  #898f98;
        bottom:18%;
        left:4%;
    }
}

.carousel {
	background: #E2F9EC;
    margin: 45px 0;
    overflow: hidden;
}


.skillsBanner {
	position: relative;
}


.skillsBanner .carousel {
	padding: 0 2%;
}


.wideWrap {
    width: 100%;
	margin: 0 auto;
}


.flickity-viewport {
	height: 100%;
}

.carousel-cell svg {
	width: 110px;
	margin: 40px;
	path {
		fill: #000;
	}
}

#cssPath__one {
	fill: #c1bfbf;
}

#cssPath__two {
	fill: #FFF;
}

#cssPath__three, #cssPath__four, #cssPath__five, #cssPath__six, #firebasePath__one, #firebasePath__three {
	fill: #4c4c4c;
}
//SKILLS SECTION END

// BLOG SECTION START
.blog {
    background: #E2F9EC;
    margin-top:2%;
    padding-bottom:6%;
    position:relative;
}

.blog__heading {
    padding-top:6%;
    padding-left:5%;
    &::before {
        height: 3px;
        width: 35px;
        content: "";
        position: absolute;
        background-color:  #898f98;
        top: 18%;
        left: 4%;
    }
}

.blog__parent {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.blog__child {
    width:33.33%;
}

.blog__container {
    &__item {
        min-width: 0
    }
}

.blog__figcaption {
    border: 2px solid white;
    background: #fff;   
    height: 55px;
    margin: 0px 2px;
    padding:2px;
}

.blog__content {
    margin: 0px 8px;
    height:206px;
    overflow:hidden;
    
}

.blog__img {
    width: 100%;
}

.blog__container__item figure img {
    height:100%;
}


// BLOG SECTION END


// CONTACT SECTION START
.contact {
    
    &__section {
        background: #E2F9EC;
        margin-top:2%;
        padding-bottom:5%;
    }
    &__content {
        display: flex;
        flex-direction: column;
        padding-left:5%;
        padding-top:5%;
        position:relative;
    }
}

.contact__content h1 {
    &::before {
        height: 3px;
        width: 35px;
        content: "";
        position: absolute;
        background-color:  #898f98;
        top:30%;
        left:0;   
    }
}

.contact__content h5 {
    margin:0;
}

.contact__content a {
    font-size:2.2rem;
}

.contact__links li a {
    font-size:2.2rem;
    margin: 25px 0;
    display:flex;
    flex-direction:row;
}

.contact__links h5 {
    margin-left:3%;
}
// CONTACT SECTION END


// FOOTER START
footer {
    text-align: center;
    margin-top: 2%;
}
// FOOTER END