
.flexContainer {
    display: flex;
}

.flexItem {
    flex-direction: row;
    height: 100vh;   
}

.flexItemFixed {
    width:27%;
    position: relative;
}

.flexItemContent {
    padding: 20px;
    width: 85%;
}

.navBar {
    display:flex;
    flex-direction: column;
    position: fixed;
    width:24%;
}


.portfolio {
    
}

#particles-js {
  background: #E6F7EC;
  height:100vh;
}

.headerContent {
    position: absolute;
    text-transform: uppercase;
    margin-left: 600px;
    margin-top: 300px;  
    &__hello {
        font-size: 1.3rem;
        color: #898f98;
        margin-bottom:2px;
        font-weight: 400;
    }
    &__leadLine {
        height: 4px;
        width: 30px;
        content: "";
        position: absolute;
        background-color:  #898f98;
        margin-top:20px;
    }
    &__title {
        margin:2px 0;
        letter-spacing: 6px;
    }
    &__subHeading {
        margin-left: 35px;
        font-size: 1.6rem;
        font-weight: 700;
        color:#898f98;
    }
    &__socialIcons ul {
        display: flex;
        padding:0;
    }
    &__socialIcon {
        color:#898f98; 
        display: flex;
        flex-direction: row;
    }
    
    /* .brush {
    position: absolute;
    background-image: url(../../../assets/brushStroke.png);
    width: 100vh;
    height: 100vh;
    border: 3px solid red;
    background-size: cover;
    top: -100px;
    left: -650px;
    z-index: 5;
    }
    .brush2 {
    position: absolute;
    background-image: url(../../../assets/brushStroke2.png);
    width: 100vh;
    height: 100vh;
    border: 3px solid red;
    background-size: cover;
    top: -100px;
    left: -650px;
    z-index: 1;
    } */ 
}

.brushStrokeWrapper {
    background: url(../../../assets/brushStroke.png);
    background-position: center;
    background-repeat: no-repeat;
    
    }

